<header class="h-14 py-4 container">
    <img src="/logo.svg" alt="Logo de Notes"/>
</header>
<section class="bg-neutral-0 notes py-5 rounded-tl-lg rounded-tr-lg overflow-y-auto relative">
    @if (!selectedNote() && !createNote()) {
        <div class="-top-8 w-full sticky container bg-neutral-0 py-4 flex items-center justify-between">
            <h1 class="text-2xl">
                All Notes
            </h1>
            <button
                class="rounded-lg bg-blue-500 text-neutral-0 flex items-center justify-center p-3 text-sm font-medium custom-transition hover:bg-blue-500/90"
                (click)="createNewNote()"
            >
                <lucide-icon [img]="Plus" class="size-5"/>
                Create New Note
            </button>
        </div>
    } @else {
        <div class="flex items-center justify-between pb-4 border-b border-neutral-200 mx-4">
            <button (click)="goBack()" class="text-neutral-600 flex items-center gap-2">
                <lucide-icon [img]="ArrowLeft" size="18"/>
                <span class="text-sm">Go back</span>
            </button>
            <div class="flex items-center gap-4 text-neutral-600">
                @if (!createNote()) {
                    <lucide-icon [img]="Trash" size="18"/>
                    <lucide-icon [img]="Archive" size="18"/>
                }
                <button class="text-sm">Cancel</button>
                <button class="text-blue-500 text-sm">Save</button>
            </div>
        </div>
    }
    @if (createNote()) {
        <app-create-note/>
    } @else if (!selectedNote()) {
        <app-notes/>
    } @else {
        <app-notes-selected [noteId]="selectedNote()"/>
    }
</section>
<app-bottom-nav/>
